body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    margin: 0;
}

header {
    background-color: pink;
    color: white;
}

header h1 {
    padding: 8px 32px;
}

main {
    max-width: 1200px;
    margin: 30px auto;

}

main h2 {
    text-align: center;
}



footer {
    position: sticky;
    top: 100vh;
    background-color: pink;
    color: white;
    text-align: center;
    padding: 30px;
}